<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="prayer.request"
      android:installLocation="preferExternal"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".VirginMaryActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".FadeVirgin" android:label="Splash"/>
		<activity android:name=".GridMenu" android:label="MENU"/>
		<activity android:name=".Audio" android:label="Audio"/>
		<activity android:name=".HistoryActivity" android:label="Virgin Mary History" android:screenOrientation="portrait"/>
		<activity android:name=".HistoryActivity2" android:label="Virgin Mary History" android:screenOrientation="portrait"/>
		<activity android:name=".SendSMS" android:label="Send Prayer Request"/>
		<activity android:name=".GalleryActivity" android:label="Gallery" android:screenOrientation="portrait"/>
		<activity android:name=".AveMariaMp3" android:label="Ave Maria Mp3" />
		<activity android:name=".SantoRosarioMp3" android:label="Santo Rosario Mp3" />
		<activity android:name=".DevotionalMp3" android:label="Devotional Mp3" />
		<activity android:name=".MantoEstelar" android:label="Manto Estelar"/>
		<activity android:name=".SusOjos" android:label="Sus Ojos" />
		<activity android:name=".SantoRosario" android:label="Santo Rosario" />
		<activity android:name=".SanJuanDiego" android:label="San Juan Diego" />
		<activity android:name=".Basilica" android:label="Basilica"/>
    </application>
</manifest>